.homepage {
  display: flex;
  flex-direction: column;
}

.header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header_frame .container {
  flex-direction: row;
}

.header_frame .container .leftcont {
  width: 871.2px;
  height: 508px;
  padding: 15px;
  background: rgba(0, 83, 246, 1);
  position: relative;
  background-image: url("../images/headerz_bg.svg");
  border-radius: 10px;
  box-shadow: rgb(191, 190, 190) 0px 15px 15px;
}

.header_frame .leftcont .headcont {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.header_frame .headcont div {
  width: 104px;
  height: 30px;
  background-color: rgba(245, 195, 75, 1);
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  display: flex;

  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
}

.header_frame .headcont span {
  width: 428px;
  margin-top: 10px;
  color: rgba(255, 255, 255, 1);
  font-family: "Jost";
  font-style: normal;
  font-size: 60px;
  font-weight: 400;
  line-height: 87px;
}

.header_frame .headcont p {
  margin-top: 10px;
  width: 262.11px;
  height: 56px;
  color: rgba(255, 255, 255, 1);
  font-family: "Jost";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.header_frame .headcont a {
  width: 140px;
  height: 52px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border-radius: 6px;
  background: rgba(255, 255, 255, 1);

  font-family: "Jost";
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.header_frame .headcont img {
  width: 519.51px;
  height: 407px;
  position: absolute;
  right: 17px;
  top: 74px;
}

.header_frame .container .rightcont {
  width: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header_frame .rightcont .rtopcont {
  width: 422.4px;
  height: 240px;
  display: flex;
  position: relative;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 10px;
  margin-left: 30px;
  align-items: center;
  box-shadow: rgb(216, 215, 215) 0px 15px 15px;
}

.header_frame .rtopcont .boxleft {
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header_frame .boxleft span {
  width: 207.57px;
  height: 22px;
  color: rgba(0, 83, 246, 1);
  font-family: "Jost";
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.header_frame .boxleft p {
  width: 210.69px;
  height: 76px;
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: normal;
  font-size: 26px;
  font-weight: 400;
  line-height: 38px;
}

.header_frame .boxleft a {
  width: 70px;

  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

.header_frame .boxleft div {
  width: 32px;
  height: 2px;
  background-color: rgba(4, 30, 66, 1);
}

.header_frame .boxleft img {
  position: absolute;
  top: 0px;
  right: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* box right. bottom qismi */

.header_frame .rightcont .rbottcont {
  width: 422.4px;
  height: 240px;
  display: flex;
  position: relative;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 10px;
  margin-left: 30px;
  align-items: center;
  box-shadow: rgb(216, 215, 215) 0px 15px 15px;
}

.header_frame .rbottcont .boxleft {
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header_frame .rbottcont .boxleft span {
  width: 207.57px;
  height: 22px;
  color: rgba(0, 83, 246, 1);
  font-family: "Jost";
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.header_frame .rbottcont .boxleft p {
  width: 210.69px;
  height: 76px;
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: normal;
  font-size: 26px;
  font-weight: 400;
  line-height: 38px;
}

.header_frame.rbottcont.boxleft a {
  width: 80px;

  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

.header_frame.rbottcont img {
  position: absolute;
  top: 0px;
  right: 0px;
}

.header_frame .rbottcont .boxleft div {
  width: 127.33px;
  height: 2px;
  background-color: rgba(4, 30, 66, 1);
}

/* servis qismi */

.homepage .servicframe {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

.servicframe .container {
  height: 77px;
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(206, 203, 203);
  padding-bottom: 10px;
}

.servicframe .container .first,
.second,
.third,
.fourth {
  width: 263.06px;
  height: 77px;
  display: flex;
  justify-content: space-between;
}

.servicframe .container .text {
  width: 216.06px;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.servicframe .container .text p {
  width: 156px;

  color: rgb(4, 5, 5);
  font-family: "Jost";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 5px;
}

.servicframe .container .text span {
  width: 190.91px;

  color: rgba(98, 105, 116, 1);
  font-family: "Jost";
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

/* category qismi */

.homepage .shopbox {
  width: 100%;
  display: flex;
  justify-content: center;
}

.homepage .shopbox .container {
  height: 319px;
  margin-top: 80px;
  position: relative;
  flex-direction: column;
}

.homepage .shopbox .container .header {
  width: 1320px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.homepage .header .left {
  width: 299.81px;
  height: 40px;
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: normal;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
}

.homepage .header .right a {
  width: 131px;
  height: 22px;
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

.homepage .header a:hover {
  border-bottom: 2px solid black;
}

/* botthead boshlandi */

.homepage .container .botthead {
  width: 1319.92px;
  height: 249px;
  display: flex;
  margin-top: 30px;
  gap: 93.22px;
}

.homepage .botthead .categ1,
.categ2,
.categ3,
.categ4,
.categ5,
.categ6 {
  width: 142.55px;
  height: 249px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .categ1 .top {
  width: 142.55px;
  height: 150px;
  box-sizing: border-box;
  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage .categ1 .bott {
  width: 135.9px;
  height: 84px;
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 15px;
}

.homepage .categ2 .top {
  width: 142.55px;
  height: 150px;
  box-sizing: border-box;
  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage .categ2 .bott {
  width: 135.9px;
  height: 84px;
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.homepage .categ3 .top {
  width: 142.55px;
  height: 150px;
  box-sizing: border-box;
  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage .categ3 .bott {
  width: 55.67px;
  height: 56px;
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 15px;
}

.homepage .categ4 .top {
  width: 142.55px;
  height: 150px;
  box-sizing: border-box;
  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage .categ4 .bott {
  width: 121.64px;
  height: 84px;
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 15px;
}

.homepage .categ5 .top {
  width: 142.55px;
  height: 150px;
  box-sizing: border-box;
  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage .categ5 .bott {
  width: 121.64px;
  height: 84px;
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 15px;
}

.homepage .categ6 .top {
  width: 142.55px;
  height: 150px;
  box-sizing: border-box;
  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage .categ6 .bott {
  width: 121.64px;
  height: 84px;
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 15px;
}

/* BOTT FRAME START */

.homepage .bottframe {
  width: 100%;
  display: flex;
  justify-content: center;
}

.homepage .bottframe .container {
  flex-direction: column;
  margin-top: 65px;
  position: relative;
}

.homepage .bottframe .tophead {
  width: 1320px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homepage .tophead .left {
  width: 349px;
  height: 40px;
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: normal;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
}

.homepage .tophead .right {
  width: 55px;
  height: 22px;
  color: rgb(0, 0, 0);
  font-family: "Jost";
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

.tophead .right:hover {
  border-bottom: 2px solid black;
}

.homepage .bottframe .centerhead {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.homepage .centerhead .sellbox {
  width: 306.91px;
  height: 452px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .centerhead .selltop {
  background-image: url("../images/products/watch.png");
}

.homepage .centerhead .selltop,
.selltop2,
.selltop3,
.selltop4 {
  width: 294.89px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
}

.homepage .centerhead .sellbox .imghead {
  width: 262.13px;
  height: 52px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;

  background: rgba(0, 83, 246, 1);
  color: rgba(255, 255, 255, 1);
  font-family: "Jost";
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  visibility: hidden;
}

.homepage .centerhead .sellbox:hover .imghead {
  visibility: visible;
  position: absolute;
  bottom: 5px;
}

/* SELL BOT START */

.homepage .centerhead .sellbott {
  width: 263.97px;

  display: flex;
  flex-direction: column;
}

.homepage .sellbott .brand,
.reviewspan,
.costdel {
  color: rgba(98, 105, 116, 1);
  font-family: "Jost";
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
}

.homepage .sellbott .review {
  margin-top: 7px;
}

.homepage .sellbott .name,
.costp {
  margin-top: 7px;
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.homepage .sellbott .cost {
  width: 95px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homepage .sellbott .cost .costdel {
  margin-top: 5px;
}

.homepage .centerhead .selltop2 {
  background-image: url("../images/products/phone.png");
}

.homepage .centerhead .selltop3 {
  background-image: url("../images/products/iRobot.png");
}

.homepage .centerhead .selltop4 {
  background-image: url("../images/products/dyson.png");
}

.homepage .centerhead .back {
  width: 71.3px;
  height: 80px;
}

.homepage .centerhead .next {
  width: 71.3px;
  height: 80px;
  transform: rotate(180deg);
  margin-bottom: 115px;
}

.homepage .bottheader {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.homepage .bottheader .littlebox {
  width: 160.43px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homepage .littlebox .photo2 {
  transform: rotate(180deg);
}

.homepage .littlebox .crcle {
  width: 4px;
  height: 4px;
  background-color: black;
  border-radius: 1px solid black;
  border-radius: 50%;
}

/* lineframe start */

.homepage .lineframe {
  width: 100%;
  display: flex;
  justify-content: center;
  background: rgba(229, 237, 255, 1);
  margin-top: 90px;
}

.homepage .lineframe .container {
  justify-content: center;
  align-items: center;
  height: 120px;
}

.homepage .container .linep {
  color: rgba(0, 83, 246, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

/* SECTION FRAME START */

.homepage .sectionframe {
  width: 100%;
  display: flex;
  justify-content: center;
}

.homepage .sectionframe .container {
  flex-direction: column;
  position: relative;
  margin-bottom: 50px;
}

.homepage .container .sectiontop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
}

.homepage .sectiontop .right {
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.homepage .sectiontop .right:hover {
  border-bottom: 2px solid black;
}

.homepage .sectiontop .left {
  color: rgba(1, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
}

/* SECTIONBOTT START */

.homepage .container .sectionbott {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}

.homepage .sectionbott .leftbox {
  width: 664.83px;
  height: 368px;
  border-radius: 6px;
  background: rgba(243, 245, 246, 1);
  display: flex;
  align-items: flex-end;
  box-shadow: rgb(211, 210, 210) 0px 15px 15px;
}

.homepage .leftbox .word {
  width: 161.81px;
  height: 139px;
  margin-bottom: 30px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

.homepage .word span {
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

.homepage .word p {
  margin-top: 7px;
  width: 161.81px;
  height: 76px;
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;
}

.homepage .word a {
  margin-top: 7px;
  width: 70px;
  height: 22px;
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.homepage .word div {
  width: 32px;
  height: 2px;
  background-color: black;
}

.homepage .word a:hover ~ div {
  width: 70px;
  height: 2px;
  background-color: black;
}

.homepage .leftbox .image {
  margin: 30px 100px 30px;
}

/* RIGHTBOX START */

.homepage .sectionbott .rightbox {
  display: flex;
  flex-direction: column;
  margin-left: 37px;
}

.homepage .sectionbott .rightbox .topright {
  height: 170px;
  width: 664.83px;
  display: flex;
  flex-wrap: wrap;
  gap: 29px;
}

.homepage .topright .product {
  width: 293.14px;
  height: 170px;
  border-radius: 6px;
  background: rgba(243, 245, 246, 1);
  display: flex;
  position: relative;
  box-shadow: rgb(211, 210, 210) 0px 15px 15px;
}

.homepage .product .wordprod {
  margin-top: 30px;
  margin-left: 35px;
}

.homepage .topright .product span {
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

.homepage .topright .product p {
  color: rgba(98, 105, 116, 1);
  font-family: "Jost";
  font-style: Regular;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
}

.homepage .product .photoprod {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

/* LOWERFRAME START */

.homepage .lowerframe {
  display: flex;
  justify-content: center;
  width: 100%;
}

.homepage .lowerframe .container {
  position: relative;
  margin-top: 90px;
  flex-direction: column;
}

/* LOWERTOP */

.homepage .container .lowertop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1320px;
  height: 40px;
  margin-bottom: 31px;
}

.homepage .lowertop .ltopleft {
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
}

.homepage .lowertop .ltopright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 523.19px;
  height: 28px;
}

.homepage .lowertop .ltopright .wordtop {
  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  margin-left: 5px;
}

.homepage .lowertop .ltopright .wordtop:hover {
  border-bottom: 2px solid black;
  color: black;
}

.homepage .lowertop .ltopright span {
  color: rgba(98, 105, 116, 1);
}

/* LOWER CENTER START*/

.homepage .lowerframe .lowercenter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homepage .lowercenter .adsproduct {
  width: 260px;
  height: 452px;
  display: flex;
  flex-direction: column;
}

.homepage .lowercenter .adsproduct .selltop {
  width: 212.81px;
  height: 230px;
  background-image: url("../images/products/samsung_tv.png");
}

.homepage .lowercenter .adsproduct .selltop2 {
  width: 212.81px;
  height: 230px;
  background-image: url("../images/products/tcl.png");
}

.homepage .lowercenter .adsproduct .selltop3 {
  width: 212.81px;
  height: 230px;
  background-image: url("../images/products/LG-UHD.png");
}

.homepage .lowercenter .adsproduct .selltop4 {
  width: 212.81px;
  height: 230px;
  background-image: url("../images/products/LG-OLED.png");
}

.homepage .lowercenter .adsproduct .selltop5 {
  width: 212.81px;
  height: 230px;
  background-image: url("../images/products/SONY-TV.png");
}

.homepage .lowercenter .back {
  width: 20.46px;
  height: 22px;
  margin-right: 25px;
}

.homepage .lowercenter .next {
  width: 20.46px;
  height: 22px;
  transform: rotate(-180deg);
}

.homepage .lowercenter .adsproduct .sellbott {
  width: 222.06px;
  height: 148.5px;
}
